body {
    unicode-bidi: bidi-override !important;
    direction: unset !important;
    text-align: right;
    background-color: #f5f6f8;
    text-align: right;
}
.card,
div.article {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow,
        0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
    padding: 14px 18px;
    cursor: pointer;
    &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.3);
    }
}
.card {
    // margin: 0 16px;
    &:nth-child(2) {
        margin-right: 16px;
        margin-left: 16px !important;
    }
    img {
        height: 200px;
    }
    .card-text {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 11px;
    }
}

.article-list {
    // margin-right: 0px !important;

    .article-item {
        border-bottom: 0.125rem solid #ebebeb;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
        transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow,
            0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
        margin: 0 !important;
        cursor: pointer;
        &:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.3);
        }
        div.article-img img {
            width: 100%;
            height: 190px;
        }
        .article-content {
            position: relative;
            p.content {
                color: #3d4e5e;
                font-size: 12px;
                font-weight: 500;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
            }
            a.read-more {
                display: block !important;
                position: absolute;
                bottom: 20px;
                left: 0;
                color: #3c4d5f;
                font-weight: 600;
                &:hover {
                    color: #3574ff;
                    text-decoration: none;
                }
            }
        }
    }
}

a:hover {
    text-decoration: none !important;
}
