@import url("https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700,800,900");
section.profile {
  width: 80%;
  margin: 0 auto !important;
  .imgAvatar {
    display: block;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    margin: 0 auto !important;
  }
  .titleCard {
    background-color: rgb(63, 162, 184);
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    width: 100%;
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .title {
    font-weight: 700;
  }
  .name {
    font-weight: 400;
    font-size: 30px;
  }
  a.takeTurn {
    font-weight: 700;
    font-size: 20px;
    border-radius: 16px;
    border: none;
  }
  .profileLink {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
  }
  .address {
  }
  .locationIcon {
    width: 18px;
    height: 22px;
  }
  .information {
    &_title {
      font-size: 22px;
      font-weight: 400;
    }
  }
  #map {
    height: 200px;
    width: 100%;
  }
  .form-group {
    .dateTimePicker {
      width: 100%;
      .dateTime {
        width: 100%;
      }
    }
  }
  .getAppointment {
    font-size: 16px !important;
    // font-weight: 600;
    color: #ffffff;
    background-color: #328597 !important;  
    &:hover{
      background-color: #0cb0d4 !important;
    }
  }
  td {
    border-radius: 0 !important;
  }

  tr th {
    font-weight: 500;
  }

  .timepicker {
    max-width: 100px;
    border-radius: 0;
  }
  .date-time-hide, .fa_user_doctor_time{
    display: none;
  }
  #appointmentModal {
    .modal-title {
      text-align: center;
      color: red; 
    }
  }
}
//==================================================================================================
// comment

.container {
  // width: 100% !important ;
  // margin-right: 0 !important;
  form.comment {
    // width: 100%;
    // margin-right: 0 auto;
      // position: relative;
      // display: block;
      label{
        display: block !important;
        padding: 0 10px;
        font-weight: 900;
        text-align: right;
        max-width: max-content;
      }
      div.invalid-tooltip{
        right: 0 !important;
        top: 208px;
        width: max-content;
      }
  }
}
.userName {
  color: #3fa2b8;
  font-weight: 700;
  
}
.all-comment{
  label{
    display: block;
    text-align: right;
  }
  div.comment-body{
    height: max-content;
    max-height: 189px;
    overflow: auto;
  }
}
.fade-in {
  opacity: 1;
}
//==================================================================================================


