nav.navbar {
  background-color: rgba(201, 250, 235, 0.411);
  padding: 1px 6rem;
}
nav.navbar a.login {
  text-decoration: none;
  color: black;
}

h3 {
  color: #394959 !important;
  margin: 2rem 0px 1rem 0px;
}

div.content-title {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
div.content-title-img {
  position: relative;
  width: 100%;
}
div.content-title-img img {
  position: absolute;
  border-radius: 4px;
}
div.content-title-img img#img-back {
  width: 260px !important;
  top: 0px;
  left: 29% !important;
}
div.content-title-img img#img-middle {
  top: 35%;
  right: 174px;
  width: 265px;
}
div.content-title-img img#img-front {
  position: relative !important;
  margin-top: 19%;
  margin-right: 58%;
  height: 300px;
}

div.article-title img {
  position: relative;
  width: 85%;
}

/*the container must be positioned relative:*/
.customSelectDoctor {
  position: relative;
}

.customSelectDoctor select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  background-color: #f1faee;
  color: rgba(0, 0, 0, 0.26);
  border-radius: 6px;
}

/*style the arrow inside the select element:*/
.select-selected::before {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: rgba(255, 255, 255, 0.123) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active::before {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  padding: 8px 16px;
  font-weight: 700;
  border: 1px solid transparent;
  border-color: transparent rgba(0, 0, 0, 0.418);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #f1faee;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.header {
  width: 100% !important;
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.header .searchDoctor {
  width: 358px;
  margin-left: 10rem !important;
}
.header .searchDoctor label {
  display: block;
  color: #fff;
}
.header .searchDoctor .customSelectDoctor {
  width: 250px;
}
