.infoBox .flip-card {
  background-color: transparent;
  width: 125px;
  height: 125px;
  perspective: 1000px;
}
.infoBox .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.infoBox .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.infoBox .flip-card-front,
.infoBox .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50%;
}
.infoBox .flip-card-front {
  background-color: #bbbbbb;
  color: black;
  border-radius: 50%;
}
.infoBox .flip-card-front .imgAvatar {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  padding: 0;
}
.infoBox .flip-card-back {
  color: white;
  transform: rotateY(180deg);
}
.infoBox .flip-card-back .nameAvatar {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
.infoBox .title {
  font-weight: 700;
}
.infoBox .name {
  font-weight: 500;
  font-size: 22px;
}
.infoBox a.takeTurn {
  font-weight: 500;
  font-size: 20px;
  border-radius: 9px;
  border: none;
}
.infoBox .profileLink {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
.infoBox .address {
  font-weight: 700;
}
.infoBox .locationIcon {
  width: 18px;
  height: 22px;
}
.infoBox .titleCard {
  background: linear-gradient(90deg, #eafffc 15%, #e7ffff 98%);
  text-align: center;
  color: black;
  font-size: 18px;
  font-weight: 900;
}

@media (max-width: 576px) {
  .infoBox .name {
    font-size: 20px !important;
    text-align: right !important;
    margin-left: auto !important;
  }
  .infoBox .address {
    font-size: 13px;
  }
  .infoBox a.takeTurn {
    padding: 0 10px !important;
    font-size: 16px !important;
  }
  .infoBox_content {
    margin-right: 0px !important;
  }
  .infoBox .titleCard {
    display: none;
  }
  .infoBox .flip-card {
    width: 90px;
    height: 90px;
  }
  .infoBox .imgAvatar {
    width: 100px !important;
    height: 100px !important;
  }
}
@media (max-width: 767.98px) {
  .infoBox .name {
    font-size: 20px !important;
    text-align: right !important;
    margin-left: auto !important;
  }
  .infoBox .address {
    font-size: 13px;
  }
  .infoBox a.takeTurn {
    padding: 0 10px !important;
    font-size: 16px !important;
  }
  .infoBox_content {
    margin-right: 0px !important;
  }
  .infoBox .titleCard {
    display: none;
  }
  .infoBox .flip-card {
    width: 110px;
    height: 110px;
  }
  .infoBox .imgAvatar {
    width: 110px !important;
    height: 110px !important;
  }
}
