@import url(https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700,800,900);
section.profile {
  width: 80%;
  margin: 0 auto !important;
}
section.profile .imgAvatar {
  display: block;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  margin: 0 auto !important;
}
section.profile .titleCard {
  background-color: #3fa2b8;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  width: 100%;
  padding: 10px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
section.profile .title {
  font-weight: 700;
}
section.profile .name {
  font-weight: 400;
  font-size: 30px;
}
section.profile a.takeTurn {
  font-weight: 700;
  font-size: 20px;
  border-radius: 16px;
  border: none;
}
section.profile .profileLink {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
section.profile .address {
  font-weight: 700;
}
section.profile .locationIcon {
  width: 18px;
  height: 22px;
}
section.profile .information_title {
  font-size: 22px;
  font-weight: 400;
}
section.profile #map {
  height: 200px;
  width: 100%;
}
section.profile .form-group .dateTimePicker {
  width: 100%;
}
section.profile .form-group .dateTimePicker .dateTime {
  width: 100%;
}
section.profile .getAppointment {
  font-size: 16px !important;
  color: #ffffff;
  background-color: #328597 !important;
}
section.profile .getAppointment:hover {
  background-color: #0cb0d4 !important;
}
section.profile td {
  border-radius: 0 !important;
}
section.profile tr th {
  font-weight: 500;
}
section.profile .timepicker {
  max-width: 100px;
  border-radius: 0;
}
section.profile .date-time-hide, section.profile .fa_user_doctor_time {
  display: none;
}
section.profile #appointmentModal .modal-title {
  text-align: center;
  color: red;
}

.container form.comment label {
  display: block !important;
  padding: 0 10px;
  font-weight: 900;
  text-align: right;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.container form.comment div.invalid-tooltip {
  right: 0 !important;
  top: 208px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.userName {
  color: #3fa2b8;
  font-weight: 700;
}

.all-comment label {
  display: block;
  text-align: right;
}
.all-comment div.comment-body {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-height: 189px;
  overflow: auto;
}

.fade-in {
  opacity: 1;
}
