.footer {
  margin-top: 3rem;
  width: 100%;
  background-color: #001A34;
  padding-bottom: 2rem;
}
.footer .footer-header p:first-child {
  font-size: 22px;
  margin: 0;
}
.footer__container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 16px 0 0 0;
}
.footer__content {
  width: 20%;
}
.footer__content h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  padding-bottom: 16px;
}
.footer__content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #a2a2a2;
  margin: 10px 0;
}
.footer__content p:hover {
  color: #3b3a31;
}
.footer__content p::before {
  padding-right: 5px;
}
.footer__content_line {
  width: 80%;
  display: flex;
}
.footer__content_line-1 {
  width: 30%;
}
.footer__content_line-1 span {
  display: inline-block;
  border: #313131 solid 1px;
  width: 100%;
}
.footer__content_line-2 {
  width: 70%;
}
.footer__content_line-2 span {
  display: inline-block;
  border: white solid 1px;
  width: 100%;
}
.footer__app {
  width: 20%;
}
.footer__app h3 {
  font-size: 18 #fff;
  font-weight: 400;
  line-height: 25px;
  color: red;
}
.footer__app a {
  display: block;
  margin: 1rem 0;
}
.footer__tags {
  width: 100%;
  padding-bottom: 3rem;
  border-bottom: 1px solid #3f3f3f;
}
.footer__tags_container {
  margin: 0 auto;
  width: 85%;
}
.footer__tags h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: white;
  display: inline-block;
  padding-right: 1rem;
}
.footer__tags a {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #a2a2a2;
  padding-left: 10px;
  text-decoration: none;
}
.footer__tags a:hover {
  color: #76a72e;
}
.footer__tags a::after {
  content: "/";
  padding-left: 10px;
}
.footer__tags a:last-child::after {
  content: "";
}
.footer__tags_summer {
  padding-left: 0px !important;
}
.footer__copyrghit_container {
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  width: 85%;
}
.footer__copyrghit_container p {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #a2a2a2;
}
.footer__copyrghit_container ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.footer__copyrghit_container ul li {
  padding: 0 5px;
}
.footer__copyrghit_container ul li img {
  height: 25px;
}
